<!-- Imported styles on this page -->
<link rel="stylesheet" href="{echo CDN}js/datatables/datatables.css" id="style-resource-1">
<script src="{echo CDN}js/datatables/datatables.js" id="script-resource-8"></script>

<ol class="breadcrumb bc-3">
    <li>
        <a href="/users/dashboard">
            <i class="fa fa-home"></i>Home</a>
    </li>
    <li>
        <a href="/users/dashboard">Invoice</a>
    </li>
    <li>
        <a href="#">{if $outer == 'purchase'} Purchase {/if}{if $outer == 'sales'} Sales {/if} Invoice</a>
    </li>
</ol>
<h2>{if $outer == 'purchase'} Purchase {/if}{if $outer == 'sales'} Sales {/if} Invoice</h2>

<br />

{if isset($delete_success)}
<div class="alert alert-success">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Success!</strong>{if $outer == 'purchase'} Purchase {/if}{if $outer == 'sales'} Sale {/if} is deleted
</div>
{/if}
{if isset($add_success)}
<div class="alert alert-success">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Success!</strong>{if $outer == 'purchase'} Purchase {/if}{if $outer == 'sales'} Sales {/if} is Added
</div>
{/if}
{if isset($edit_success)}
<div class="alert alert-success">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Success!</strong>{if $outer == 'purchase'} Purchase {/if}{if $outer == 'sales'} Sales {/if} details are edited
</div>
{/if}
<script type="text/javascript" src="{echo CDN}js/tables/tables1.js"></script>

<!--Action important-->
<form method="post" {if $outer == 'purchase'} action="/invoice/purchase" {/if} {if $outer == 'sales'} action="/invoice/sales" {/if}>
    <table class="table table-bordered datatable" id="table-1">
        <thead>
            <tr>
                
                <th>S No.</th>
                <th>Invoice Id</th>
                <th>{if $outer == 'purchase'} Supplier {/if}{if $outer == 'sales'} Customer {/if}</th>
                <th>No. Of Items</th>
                <th>Total Price</th>
                <th>Actions</th>

            </tr>
        </thead>
        <tbody id="data-body">
        
        {script $i = 1} 

        {foreach $entry in $table}

            {if $outer == 'purchase'} 
                
                {script $c = models\Purchase_Invoice::all(array('invoice_id = ?' => $entry->invoice_id))}
                
                {foreach $cc in $c}
                    {script $count = count($cc->item_id)}
                {/foreach}
    
            {/if}

            {if $outer == 'sales'} 

                {script $c = models\Sales_Invoice::all(array('invoice_id = ?' => $entry->invoice_id))}
                
                {foreach $cc in $c}
                    {script $count = count($cc->item_id)}
                {/foreach}

            {/if}


                
            {script $total = 0}

            {if $outer == 'purchase'} 
                
                {script $pq = models\Purchase_Invoice::first(array('invoice_id = ?' => $entry->invoice_id))}
    
            {/if}

            {if $outer == 'sales'} 

                {script $pq = models\Sales_Invoice::first(array('invoice_id = ?' => $entry->invoice_id))}

            {/if}


            {script $j = 0}

            {foreach $p in $pq->price}
                {script $total+= $pq->price[$j] * $pq->quantity[$j]}

                {script $j++}
            {/foreach}


            {if $outer == 'purchase'} 
                
                {script $invoice = models\Purchase_Invoice::first(array('invoice_id = ?' => $entry->invoice_id, 'user_id = ?' => $user->id))}
    
            {/if}

            {if $outer == 'sales'} 

                {script $invoice = models\Sales_Invoice::first(array('invoice_id = ?' => $entry->invoice_id, 'user_id = ?' => $user->id))}

            {/if}



            {if $outer == 'purchase'} 
                
                {script $sc = models\Supplier_or_Customer::first(array('id = ?' => $invoice->supplier_id))}
    
            {/if}

            {if $outer == 'sales'} 

                {script $sc = models\Supplier_or_Customer::first(array('id = ?' => $invoice->customer_id))}

            {/if}


            <tr>
                <td>{$i}</td>                           

                <td>{$entry->invoice_id}</td>
                <td>{$sc->name}</td>
                <td>{$count}</td>
                <td>Rs {$total}</td>
            
                <td>
                    <a {if $outer == 'purchase'} href="/invoice/purchase_show/{$invoice->id}" {/if}{if $outer == 'sales'} href="/invoice/sales_show/{$invoice->id}" {/if} class="btn btn-success btn-sm btn-icon icon-left">
                        <i class="entypo-eye"></i> View Invoice
                    </a>&nbsp;&nbsp;
                    <button type="button" value="{$entry->id}" data-toggle="modal" data-target="#myModal" class="edit_ps btn btn-info btn-sm btn-icon icon-left">
                        <i class="entypo-pencil"></i> Edit
                    </button>&nbsp;&nbsp;
                    <button type="submit" name="delete" value="{$entry->id}" class="btn btn-danger btn-sm btn-icon icon-left">
                        <i class="entypo-cancel"></i> Delete
                    </button>
                </td>
            </tr>

            {script $i++}
        {/foreach}
            
        </tbody>
       
    </table>

    <br />
    <div>

        <button type="button" data-toggle="modal" data-target="#myModal2" class="btn btn-primary">
            <i class="entypo-plus"></i> Create {if $outer == 'purchase'} Purchase {/if}{if $outer == 'sales'} Sales {/if} Invoice
        </button>
        <div id="row-id" style="display:none">
            <input type="text" class="row-number" name="row-number" value="1"  hidden="">
        </div>

    </div>
    
    <br />
    <br />

</form>

<form method="post" {if $outer == 'purchase'} action="/invoice/purchase" {/if} {if $outer == 'sales'} action="/invoice/sales" {/if}>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Edit {if $outer == 'purchase'} Purchase {/if}{if $outer == 'sales'} Sales {/if} Invoice</h4>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="submit" name="edit_sc" value="save" class="btn btn-success">Save changes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

</form>

<form method="post" {if $outer == 'purchase'} action="/invoice/purchase" {/if} {if $outer == 'sales'} action="/invoice/sales" {/if} class="form-horizontal">

    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Create {if $outer == 'purchase'} Purchase {/if}{if $outer == 'sales'} Sales {/if} Invoice</h4>
                </div>
                <div class="modal-body2" style="margin-left:0px">
                    
                    <br><br>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">{if $outer == 'purchase'} Supplier {/if}{if $outer == 'sales'} Customer {/if}</label>
                        <div class="col-sm-6">
                            <select class="form-control" name="supplier_id" required="">
                                <option value=""> Select{if $outer == 'purchase'} Supplier {/if}{if $outer == 'sales'} Customer {/if}</option>
                                {foreach $s in $s_or_c}
                                    {if $s->type == 1 && $outer == 'purchase'}
                                    <option value="{$s->id}">{$s->name}</option>
                                    {/if}

                                    {if $s->type == 2 && $outer == 'sales'}
                                    <option value="{$s->id}">{$s->name}</option>
                                    {/if}
                                {/foreach}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Items Added</label>
                        <div class="col-sm-6" id="items_added">

                            <span style="padding-top:10px; position:absolute; color:red" id="no_items">No Items Yet</span>
                            
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Select Inventory</label>
                        <div class="col-sm-6">
                            <select class="form-control" id="inventory">
                                <option value=""> Select Inventory</option>
                                {foreach $i in $inventory}
                                    <option value="{$i->id}">{$i->table_name}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Select Item</label>
                        <div class="col-sm-6">
                            <select class="form-control" id="item">
                                <option value="">Item</option>
                            </select>
                        </div>
                    </div>

                    <div style="display:none">
                        <input type="text" id="item_name" value="">
                    </div>


                    <div class="form-group">
                        <label class="col-sm-3 control-label">Price per piece</label>
                        <div class="input-group col-sm-6" style="padding-left:15px;padding-right:15px;">
                            <div class="input-group-addon">Rs</div>
                            <input type="text" class="form-control" id="price" placeholder="Amount">
                            <div class="input-group-addon">.00</div>
                        </div>
                    </div>

                    {if $outer == 'sales'}
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Select Quantity</label>
                        <div class="col-sm-6">
                            <select class="form-control" id="quantity">
                                <option value="">Quantity</option>
                            </select>
                        </div>
                    </div>
                    {/if}
                    
                    {if $outer == 'purchase'}
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Select Quantity</label>
                        <div class="col-sm-6">
                            <input type="number" class="form-control" id="quantity" value="0">
                        </div>
                    </div>
                    {/if}


                    <div class="form-group">
                        <label class="col-sm-7 control-label"></label>
                        <div class="col-sm-5">
                            <button type="button" id="add_item" class="btn btn-success">Add Item</button>
                        </div>
                    </div>

              
                    <div class="modal-footer">
                        <button type="submit" name="create_ps" value="save" class="btn btn-success">Create</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</form>