<div class="calendar-env">
    <!-- Calendar Body -->
    <div class="calendar-body">
        <div id="calendar"></div>
    </div>
    <!-- Sidebar -->
    <div class="calendar-sidebar">
        <!-- new task form -->
        <div class="calendar-sidebar-row">
            <form role="form" id="add_event_form">
                <div class="input-group minimal">
                    <input type="text" class="form-control" placeholder="Add event..." />
                    <div class="input-group-addon">
                        <i class="entypo-pencil"></i>
                    </div>
                </div>
            </form>
        </div>
        <!-- Events List -->
        <ul class="events-list" id="draggable_events">
            <li>
                <p>Drag Events to Calendar Dates</p>
            </li>
            <li>
                <a href="index#" data-event='{"title":"Sport Match", "color":""}' >Sport Match</a>
            </li>
            <li>
                <a href="index#" class="color-blue" data-event='{"title":"Meeting", "color":"blue"}'>Meeting</a>
            </li>
            <li>
                <a href="index#" class="color-orange" data-event='{"title":"Relax", "color":"orange"}'>Relax</a>
            </li>
            <li>
                <a href="index#" class="color-primary" data-event='{"title":"Study", "color":"primary"}'>Study</a>
            </li>
            <li>
                <a href="index#" class="color-green" data-event='{"title":"Family Time", "color":"green"}'>Family Time</a>
            </li>
        </ul>
    </div>
</div>
<hr />
  <!-- Imported styles on this page -->
    <link rel="stylesheet" href="{echo CDN}js/fullcalendar-2/fullcalendar.min.css" id="style-resource-1">
    <script src="{echo CDN}js/moment.min.js" id="script-resource-8"></script>
    <script src="{echo CDN}js/fullcalendar-2/fullcalendar.min.js" id="script-resource-9"></script>
    <script src="{echo CDN}js/neon-calendar-2.js" id="script-resource-10"></script>
	<script type="text/javascript">

		$('#calendar').fullCalendar({
		    events: [
		        {
		            title  : 'event1',
		            start  : '2016-08-08',
		        },
		        {
		            title  : 'event2',
		            start  : '2016-08-08',
		            end    : '2016-08-10',
		        },
		        {
		            title  : 'event3',
		            start  : '2016-08-19T12:30:00',
		        }
		    ],

		    droppable: true,

		    editable: true,

            drop: function( date, jsEvent, ui, resourceId ) { 

                var obj = JSON.parse(this.getAttribute("data-event"));

                var d = new Date(date),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();

                if (month.length < 2) month = '0' + month;
                if (day.length < 2) day = '0' + day;

                var date2 =  [year, month, day].join('-');


            },
		    
		    eventDrop: function(event, delta, revertFunc) {

                alert('hello');

		    }
		});

	</script>
</div>
