<head>
    <link href="{echo CDN}css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="{echo CDN}css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
</head>

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Create Your Table</h2>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
      
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
        
                        <h5>Rows with <sup style="color:red;">*</sup> are required.</h5>
        
                    </div>
                    <div class="ibox-content">
                        <form method="post" class="form-horizontal">
                           <div class="form-group">
                                <label class="col-sm-2 control-label">Table Name<sup style="color:red;">*</sup></label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" name="table_name" placeholder="Table Name" required>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            {foreach $i in $numbers}
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Column Name {$i}{if $i == 1}<sup style="color:red;">*</sup>{/if}</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" name="name{$i}" placeholder="Column Name {$i}" {if $i == 1} required  {/if}>
                                    </div>

                                    <div class="col-sm-2">
                                        <select class="form-control m-b" name="type{$i}">
                                            <option value="1">Text</option>
                                            <option value="2">Number</option>
                                            <option value="3">Date/Time</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                           {/foreach}
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" name="create" value="hehe" type="submit"><i class="entypo-plus"></i>&nbsp;Create</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>