        <!-- Imported styles on this page -->
<link rel="stylesheet" href="{echo CDN}js/datatables/datatables.css" id="style-resource-1">
<script src="{echo CDN}js/datatables/datatables.js" id="script-resource-8"></script>
<ol class="breadcrumb bc-3">
    <li>
        <a href="/users/dashboard">
            <i class="fa fa-home"></i>Home</a>
    </li>
    <li>
        <a href="#">Customers</a>
    </li>
</ol>
<h2>Customers</h2>
<br /> 

{if isset($delete_success)}
<div class="alert alert-success">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Success!</strong> Customer is deleted
</div>
{/if} {if isset($add_success)}
<div class="alert alert-success">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Success!</strong> Customer is Added
</div>
{/if} {if isset($edit_success)}
<div class="alert alert-success">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Success!</strong> Customer details are edited
</div>
{/if}
<script type="text/javascript" src="{echo CDN}js/tables/tables1.js"></script>
<!--Action important-->
<form method="post">
    <table class="table table-bordered datatable" id="table-1">
        <thead>
            <tr>
                <th>S No.</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>State</th>
                <th>Address</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="data-body">
            {script $i = 1} 

            {foreach $entry in $table}

                {if $entry->contact_id}

                    {script $u = models\User::first(array('id = ?' => $entry->contact_id))}
                    <tr>
                        <td>{$i}</td>
                        <td>{$u->full_name}</td>
                        <td>{$u->mobile}</td>
                        <td>{$u->email}</td>
                        <td>{$u->state}</td>
                        <td>{$u->address}</td>
                        <td>
                            <button type="submit" name="delete" value="{$entry->id}" class="btn btn-danger btn-sm btn-icon icon-left">
                                <i class="entypo-cancel"></i> Delete
                            </button>
                        </td>
                    </tr>
                {/if}
                {else}
                    <tr>
                        <td>{$i}</td>
                        <td>{$entry->name}</td>
                        <td>{$entry->phone}</td>
                        <td>{$entry->email}</td>
                        <td>{$entry->state}</td>
                        <td>{$entry->address}</td>
                        <td>
                            <button type="button" value="{$entry->id}" data-toggle="modal" data-target="#myModal" class="edit_sc btn btn-info btn-sm btn-icon icon-left">
                                <i class="entypo-pencil"></i> Edit
                            </button>&nbsp;&nbsp;
                            <button type="submit" name="delete" value="{$entry->id}" class="btn btn-danger btn-sm btn-icon icon-left">
                                <i class="entypo-cancel"></i> Delete
                            </button>
                        </td>
                    </tr>
                {/else}
            {script $i++} 

            {/foreach}
        </tbody>
    </table>
    <br />
    <div>
        <button type="button" data-toggle="modal" data-target="#myModal2" class="btn btn-primary">
            <i class="entypo-plus"></i> Add Customer
        </button>
        <div id="row-id" style="display:none">
            <input type="text" class="row-number" name="row-number" value="1" hidden="">
        </div>
    </div>
    <br>
    <div>
        <div class="pull-left">
            <input type="file" name="sheet">
        </div>
        <button type="submit" style="margin-left:-50px" name="excel_add" value="add" class="btn btn-primary pull-left">
            <i class="entypo-plus"></i> Import From Excel
        </button>
    </div>
    <br />
    <br />
</form>
<form method="post">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Edit Customer</h4>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="submit" name="action" value="edit_sc" class="btn btn-success">Save changes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</form>
<form method="post">
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="margin-top: 200px">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Add Customer</h4>
                </div>
                <div class="modal-body2">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-6">
                            <input type="email" id="check_email" class="form-control" name="email" required="" placeholder="Enter email">
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-default" id="check_email_btn">Check</button>
                        </div>
                        <div class="col-sm-2" style="display: none" id="check_sign">
                            <i class="entypo-check" style="color: green; font-size: 22px;"></i>
                        </div>
                        <div class="col-sm-2" style="display: none" id="cross_sign">
                            <i class="entypo-cancel" style="color: red; font-size: 22px;"></i>
                        </div>
                        <div class="col-sm-2" style="display: none" id="loading">
                            <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw margin-bottom" style="color: blue; font-size: 22px;"></i>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div id="details" style="display: none">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control required" name="name" placeholder="Enter Name">
                            </div>
                        </div>
                        <br>
                        <br>
                        <br>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Phone</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control required" name="phone" placeholder="Enter Phone Number">
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">State</label>
                            <div class="col-sm-10">
                                <select class="form-control required" name="state">
                                    {foreach $state in $states}
                                    <option>{$state->name}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><sup style="color:red">*</sup> Address</label>
                            <div class="col-sm-10">
                                <textarea class="form-control required" name="address" placeholder="Enter Address" rows="3" style="resize: none"></textarea>
                            </div>
                        </div>
                    
                        <br>
                        <br>
                        <br>
                    </div>
                    <br>
                </div>
                <div class="modal-footer">
                    <button type="submit" name="action" value="add_sc" class="btn btn-success">ADD</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
</form>