<script type="text/javascript">
document.getElementById("create_table").className = "active";
</script>

<head>
    <link href="{echo CDN}css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="{echo CDN}css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
</head>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Edit Your Table</h2>
    </div>
    <div class="col-lg-2">
    </div>
</div>

{if isset($edit_table)}

    {if isset($success)}
    <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> Table has been created.
    </div>
    {/if}
    {if isset($exist)}
    <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Table Name Already Exists!</strong> Please choose a diffrent table name.
    </div>
    {/if}

    <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Rows with
                        <sup style="color:red;">*</sup> are required.</h5>
                </div>
                <div class="ibox-content">
                    <form method="post" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><sup style="color:red;">*</sup>Table Name
                                
                            </label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" value="{$edit_table->table_name}" name="table_name" placeholder="Table Name" required>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        {script $c1 = $edit_table->column1_name}
                        {script $c2 = $edit_table->column2_name}
                        {script $c3 = $edit_table->column3_name}
                        {script $c4 = $edit_table->column4_name}
                        {script $c5 = $edit_table->column5_name}
                        {script $c6 = $edit_table->column6_name}
                        {script $c7 = $edit_table->column7_name}
                        {script $c8 = $edit_table->column8_name}
                        {script $c9 = $edit_table->column9_name}
                        {script $c10 = $edit_table->column10_name}

                        {script $t1 = $type->type1}
                        {script $t2 = $type->type2}
                        {script $t3 = $type->type3}
                        {script $t4 = $type->type4}
                        {script $t5 = $type->type5}
                        {script $t6 = $type->type6}
                        {script $t7 = $type->type7}
                        {script $t8 = $type->type8}
                        {script $t9 = $type->type9}
                        {script $t10 = $type->type10}

                        {foreach $i in $numbers}
                        {script $c = 'c' . $i}
                        {script $t = 't' . $i}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{if !empty($$c)}
                                <sup style="color:red;">*</sup>{/if}Column Name {$i}</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="name{$i}" value="{$$c}" placeholder="Column Name {$i}" {if !empty($$c) } required {/if}>
                            </div>
                            <div class="col-sm-2">
                                <select class="form-control m-b" name="type{$i}">
                                    <option value="1" {if $$t == 1} selected {/if}>Text</option>
                                    <option value="2" {if $$t == 2} selected {/if}>Number</option>
                                    <option value="3" {if $$t == 3} selected {/if}>Date/Time</option>
                                </select>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        {/foreach}

                        <input type="text" name="edit_table_id" value="{$edit_table->id}" hidden="">
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-success" name="savechanges" value="hehe" type="submit">
                                    <i class="entypo-check"></i>&nbsp;Save Changes</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



{/if}
{else}

    Invalid Table Request. Go to your tables and select the right table to edit.

{/else}
