<!-- Imported styles on this page -->
<link rel="stylesheet" href="{echo CDN}js/datatables/datatables.css" id="style-resource-1">
<link rel="stylesheet" href="{echo CDN}js/select2/select2-bootstrap.css" id="style-resource-2">
<link rel="stylesheet" href="{echo CDN}js/select2/select2.css" id="style-resource-3">
<script src="{echo CDN}js/datatables/datatables.js" id="script-resource-8"></script>
<script src="{echo CDN}js/select2/select2.min.js" id="script-resource-9"></script>

<ol class="breadcrumb bc-3">
    <li>
        <a href="../../dashboard/main/index">
            <i class="fa-home"></i>Home</a>
    </li>
    <li>
        <a href="../main/index">Your Tables</a>
    </li>
    <li class="active">
        <strong>{$table->table_name}</strong>
    </li>
</ol>
<h2>{echo ucfirst($table->table_name)}</h2>
<br />
<script type="text/javascript" src="{echo CDN}js/tables/tables1.js"></script>
<form method="post">
    <table class="table table-bordered datatable" id="table-1">
        <thead>
            <tr>
                {script $c = 0}
                
                <th>S No.</th>
                {if $table->column1_name != NULL}<th>{$table->column1_name}{script $c++}</th>{/if}
                {if $table->column2_name != NULL}<th>{$table->column2_name}{script $c++}</th>{/if}
                {if $table->column3_name != NULL}<th>{$table->column3_name}{script $c++}</th>{/if}
                {if $table->column4_name != NULL}<th>{$table->column4_name}{script $c++}</th>{/if}
                {if $table->column5_name != NULL}<th>{$table->column5_name}{script $c++}</th>{/if}
                {if $table->column6_name != NULL}<th>{$table->column6_name}{script $c++}</th>{/if}
                {if $table->column7_name != NULL}<th>{$table->column7_name}{script $c++}</th>{/if}
                {if $table->column8_name != NULL}<th>{$table->column8_name}{script $c++}</th>{/if}
                {if $table->column9_name != NULL}<th>{$table->column9_name}{script $c++}</th>{/if}
                {if $table->column10_name != NULL}<th>{$table->column10_name}{script $c++}</th>{/if}

                <th>Actions</th>

            </tr>
        </thead>
        <tbody id="data-body">
        
        {script $i = 1} 

        {foreach $entry in $entries}
            <tr>
                <td>{$i}</td>
                
                {if $c >= 1}
                    <td>{$entry->entry1}</td>
                {/if}
                
                {if $c >= 2}
                    <td>{$entry->entry2}</td>
                {/if}

                {if $c >= 3}
                    <td>{$entry->entry3}</td>
                {/if}
                
                {if $c >= 4}
                    <td>{$entry->entry4}</td>
                {/if}
                
                {if $c >= 5}
                    <td>{$entry->entry5}</td>
                {/if}

                {if $c >= 6}
                    <td>{$entry->entry6}</td>
                {/if}

                {if $c >= 7}
                    <td>{$entry->entry7}</td>
                {/if}

                {if $c >= 8}
                <td>{$entry->entry8}</td>
                {/if}

                {if $c >= 9}
                    <td>{$entry->entry9}</td>
                {/if}

                {if $c >= 10}
                    <td>{$entry->entry10}</td>
                {/if}

                <td>
                    <button type="button" value="{$entry->id}" data-toggle="modal" data-target="#myModal" class="edit btn btn-info btn-sm btn-icon icon-left">
                        <i class="entypo-pencil"></i> Edit
                    </button>&nbsp;&nbsp;
                    <button type="submit" name="delete" value="{$entry->id}" class="btn btn-danger btn-sm btn-icon icon-left">
                        <i class="entypo-cancel"></i> Delete
                    </button>
                </td>
            </tr>

            {script $i++}
        {/foreach}
            
        </tbody>
       
    </table>

    <br />
    <div>
        <div class="pull-left">
            <select name="" style="width:50px" class="numberofrows form-control">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        &nbsp;&nbsp;
        <button type="button" class="add btn btn-primary" value="{echo $c}">
            <i class="entypo-plus"></i> Add Row
        </button>

        <div class="pull-right" id="saveandcancel" style="display:none">
            <button type="submit" name="save" value="save" class="btn btn-success btn-sm btn-icon icon-left"><i class="entypo-check"></i> Save</a>
            
            <button type="button" style="margin-left:10px" class="cancel btn btn-danger btn-sm btn-icon icon-left"><i class="entypo-cancel"></i> Cancel</a>        
        </div>
    </div>
    <div id="row-id">
    <input type="text" class="row-number" name="row-number" value="1"  hidden="">
    </div>
</form>
<br />
<br />

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Entry</h4>
      </div>
      <form class="form-horizontal" role="form" method="post">
      <div class="modal-body">
                    ...
      </div>
      <div class="modal-footer">
        <button type="submit" name="savechanges" value="save" class="btn btn-success">Save changes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
      </form>
    </div>
  </div>
</div>

